<div>
    <h2>
        <span jhiTranslate="jeconomizerApp.movement.home.title">Movements</span>
        <button class="btn btn-primary float-right jh-create-entity create-movement" [routerLink]="['/', { outlets: { popup: ['movement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jeconomizerApp.movement.home.createLabel">
            Create new Movement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jeconomizerApp.movement.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="movements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jeconomizerApp.movement.startDate">Start Date</span></th>
            <th><span jhiTranslate="jeconomizerApp.movement.amount">Amount</span></th>
            <th><span jhiTranslate="jeconomizerApp.movement.picture">Picture</span></th>
            <th><span jhiTranslate="jeconomizerApp.movement.balance">Balance</span></th>
            <th><span jhiTranslate="jeconomizerApp.movement.categoryId">Category Id</span></th>
            <th><span jhiTranslate="jeconomizerApp.movement.userId">User Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movement of movements ;trackBy: trackId">
                <td><a [routerLink]="['../movement', movement.id ]">{{movement.id}}</a></td>
                <td>{{movement.startDate | date:'medium'}}</td>
                <td>{{movement.amount}}</td>
                <td>
                    <a *ngIf="movement.picture" (click)="openFile(movement.pictureContentType, movement.picture)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="movement.picture">{{movement.pictureContentType}}, {{byteSize(movement.picture)}}</span>
                </td>
                <td>{{movement.balance}}</td>
                <td>
                    <div *ngIf="movement.categoryId">
                        <a [routerLink]="['../category', movement.categoryId?.id ]" >{{movement.categoryId?.id}}</a>
                    </div>
                </td>
                <td>
                    {{movement.userId?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../movement', movement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movement/'+ movement.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movement/'+ movement.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
