<div>
    <h2>
        <span jhiTranslate="jeconomizerApp.percentage.home.title">Percentages</span>
        <button class="btn btn-primary float-right jh-create-entity create-percentage" [routerLink]="['/', { outlets: { popup: ['percentage-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jeconomizerApp.percentage.home.createLabel">
            Create new Percentage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jeconomizerApp.percentage.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="percentages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jeconomizerApp.percentage.dayPercentage">Day Percentage</span></th>
            <th><span jhiTranslate="jeconomizerApp.percentage.weekPercentage">Week Percentage</span></th>
            <th><span jhiTranslate="jeconomizerApp.percentage.monthPercentage">Month Percentage</span></th>
            <th><span jhiTranslate="jeconomizerApp.percentage.yearPercentage">Year Percentage</span></th>
            <th><span jhiTranslate="jeconomizerApp.percentage.categoryId">Category Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let percentage of percentages ;trackBy: trackId">
                <td><a [routerLink]="['../percentage', percentage.id ]">{{percentage.id}}</a></td>
                <td>{{percentage.dayPercentage}}</td>
                <td>{{percentage.weekPercentage}}</td>
                <td>{{percentage.monthPercentage}}</td>
                <td>{{percentage.yearPercentage}}</td>
                <td>
                    <div *ngIf="percentage.categoryId">
                        <a [routerLink]="['../category', percentage.categoryId?.id ]" >{{percentage.categoryId?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../percentage', percentage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'percentage/'+ percentage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'percentage/'+ percentage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
