
<div *ngIf="percentage">
    <h2><span jhiTranslate="jeconomizerApp.percentage.detail.title">Percentage</span> {{percentage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jeconomizerApp.percentage.dayPercentage">Day Percentage</span></dt>
        <dd>
            <span>{{percentage.dayPercentage}}</span>
        </dd>
        <dt><span jhiTranslate="jeconomizerApp.percentage.weekPercentage">Week Percentage</span></dt>
        <dd>
            <span>{{percentage.weekPercentage}}</span>
        </dd>
        <dt><span jhiTranslate="jeconomizerApp.percentage.monthPercentage">Month Percentage</span></dt>
        <dd>
            <span>{{percentage.monthPercentage}}</span>
        </dd>
        <dt><span jhiTranslate="jeconomizerApp.percentage.yearPercentage">Year Percentage</span></dt>
        <dd>
            <span>{{percentage.yearPercentage}}</span>
        </dd>
        <dt><span jhiTranslate="jeconomizerApp.percentage.categoryId">Category Id</span></dt>
        <dd>
            <div *ngIf="percentage.categoryId">
                <a [routerLink]="['/category', percentage.categoryId?.id]">{{percentage.categoryId?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'percentage/'+ percentage.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
